body{
    background-color: rgb(255, 199, 255) !important;
    color:rgb(241, 91, 241) !important;
}

.container{
    background-color: rgb(234, 170, 234);
    margin-top:160px;
    width:45%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    border: 1px solid rgb(217, 132, 217);
    border-radius:2px ;
    box-shadow: 2px 2px 5px purple;
    
}

button{
    margin-bottom: 20px;
    padding: 8px;
    margin:13px;
    border-radius: 2px;
    border:1px solid purple !important;

}

i{
    color:purple !important;
}